<label class="text-gray-600 text-lg font-medium" [for]="fieldName()">{{inputLabel()}}</label>
<div [class]="{
    'input':true,
    'input-focus':isElementFocused()
}">
    @if (inputType() === 'password') {

    <input (focus)="onFocus()" (blur)="onBlur()" [type]="showPassword() ? 'text' : 'password'"
        [placeholder]="inputPlaceholder()" [name]="fieldName()" class='focus:outline-none w-full h-full'
        [formControl]="formControlValue()" />
    @if(showIcon()){

    <span type="button" class="absolute h-auto top-1/2 -translate-y-1/2 right-2 cursor-pointer"
        (click)="updateShowPassword()">
        <fa-icon [icon]="showPassword() ? showPasswordIcon : hidePasswordIcon"></fa-icon>
    </span>
    }
    }
    @else {

    @if (inputType() === 'select') {

    <select (focus)="onFocus()" (blur)="onBlur()" [name]="fieldName()" [formControl]="formControlValue()"
        class="focus:outline-none w-full h-full">
        <option disabled selected value="">Select {{inputPlaceholder()}}</option>
        @for (option of options(); track $index) {
        <option [value]="option">{{option}}</option>
        }
    </select>

    }

    @else{
    <input (focus)="onFocus()" (blur)="onBlur()" [formControl]="formControlValue()"
        class="focus:outline-none w-full h-full" [type]="inputType()" [placeholder]="inputPlaceholder()"
        [id]="fieldName()" />

    }
    @if(showIcon()) {

    <span type="button" class="absolute h-auto top-1/2 -translate-y-1/2 right-2 cursor-pointer">
        <fa-icon [icon]="inputIcon()"></fa-icon>
    </span>
    }
    }

</div>