<div class="h-auto main-container">
  <!-- Header -->
  <app-header></app-header>

  <!-- Search Bar -->
  <div class="my-8">
    <input type="text" placeholder="🔍 Search blogs..."
      class="w-full px-4 py-2 rounded-md shadow-sm border border-gray-300 focus:ring-2 focus:ring-blue-500" />
  </div>

  <!-- Categories -->
  <app-categories (onChangeCategory)="onChangeCategory($event)"></app-categories>
  <!-- Blog List -->
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
    @for (blog of blogs$; track $index) {

    <app-blog-card [blog]="blog">
    </app-blog-card>
    }
  </div>
</div>